////////////////////////////////////////////////
///////////////    Variables    ///////////////
//////////////      Mixins     ///////////////
/////////////       Exends    ///////////////
////////////////////////////////////////////
@import "animate.scss";
$delay: .2s;
// Light-Blue
// $color-100: rgba(179, 229, 252, 1);
// $color-300: rgba(79, 195, 247, 1);
// $color-500: rgba(3, 169, 244, 1);
// $color-700: rgba(2, 136, 209, 1);
// $color-900: rgba(1, 87, 155, 1);
// Blue
// $color-100: rgba(187, 222, 251, 1);
// $color-300: rgba(100, 181, 246, 1);
// $color-500: rgba(33, 150, 243, 1);
// $color-700: rgba(25, 118, 210, 1);
// $color-900: rgba(13, 71, 161, 1);
// Blue-Grey
// $color-100: rgba(207, 216, 220, 1);
// $color-300: rgba(144, 164, 174, 1);
// $color-500: rgba(96, 125, 139, 1);
// $color-700: rgba(69, 90, 100, 1);
// $color-900: rgba(38, 50, 56, 1);
// TEAL
$color-100: rgba(178, 229, 219, 1);
$color-300: rgba(77, 182, 172, 1);
$color-500: rgba(0, 150, 136, 1);
$color-700: rgba(0, 121, 107, 1);
$color-900: rgba(0, 77, 64, 1);
// Green
// $color-100: rgba(200, 230, 201, 1);
// $color-300: rgba(129, 199, 132, 1);
// $color-500: rgba(76, 175, 80, 1);
// $color-700: rgba(56, 142, 60, 1);
// $color-900: rgba(27, 94, 32, 1);
// Light-Green
// $color-100: rgba(220, 237, 200, 1);
// $color-300: rgba(174, 213, 129, 1);
// $color-500: rgba(139, 195, 74, 1);
// $color-700: rgba(104, 159, 56, 1);
// $color-900: rgba(51, 105, 30, 1);
// RED
// $color-100: rgba(255, 205, 210, 1);
// $color-300: rgba(229, 115, 115, 1);
// $color-500: rgba(244, 67, 54, 1);
// $color-700: rgba(211, 47, 47, 1);
// $color-900: rgba(183, 28, 28, 1);
// DEEP ORANGE
// $color-100: rgba(255, 204, 188, 1);
// $color-300: rgba(255, 138, 101, 1);
// $color-500: rgba(255, 87, 34, 1);
// $color-700: rgba(230, 74, 25, 1);
// $color-900: rgba(191, 54, 12, 1);
// Deep-Purple
// $color-100: rgb(209, 196, 233);
// $color-300: rgb(149, 117, 205);
// $color-500: rgb(103, 58, 183);
// $color-700: rgb(81, 45, 168);
// $color-900: rgb(49, 27, 146);
// Indigo
// $color-100: rgb(197, 202, 233);
// $color-300: rgb(121, 134, 203);
// $color-500: rgb(63, 81, 181);
// $color-700: rgb(48, 63, 159);
// $color-900: rgb(26, 35, 126);
$light: lighten($color-100, 10%);
$dark: darken($color-900, 10%);
$fz-big: 7.5em;
$fz-bigish: 5em;
$fz-med: 2.8em;
$fz-small: 1.4em;
$fz-smaller: 1.1 em;
$fz-smallest: .8em;
$fz-tiny: .6em;
@mixin general_text_style {
    color: $light;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: .05em;
    transition: $delay;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px transparent;
    text-rendering: optimizeLegibility;
}

@mixin height($height) {
    height: $height;
    min-height: $height;
    max-height: $height;
}

@mixin flex-box {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin skills {
    position: absolute;
    bottom: -2em;
    left: 0;
    right: 0;
    color: $light;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

@mixin breakpoint($point) {
    @if $point==big-screen {
        @media (min-width: 1250px) {
            @content;
        }
    }
    @else if $point==medium-screen {
        @media screen and (min-width: 480px) and (max-width: 1250px) {
            @content;
        }
    }
    @else if $point==small-med-screen {
        @media screen and (min-width: 480px) and (max-width: 750px) {
            @content;
        }
    }
    @else if $point==small-height-screen {
        @media (max-height: 400px) {
            @content;
        }
    }
}

/////////////////////////////////////////////
/////////////  General Styles  /////////////
///////////////////////////////////////////
* {
    box-sizing: border-box;
    transition: $delay;
}

.clearfix {
    overflow: auto;
}

*::-moz-selection {
    background-color: $color-700;
}

*::selection {
    background-color: $color-700;
}

html,
body {
    @include height(100%);
    margin: 0;
    padding: 0;
    background-color: $light;
    font-size: 100%;
}

p,
a,
h1,
h2,
h3 {
    @include general_text_style;
}

h1,
h2,
h3 {
    @include general_text_style;
    text-transform: uppercase;
    margin: 1%;
    padding: 0;
}

h1 {
    text-shadow: 0 0 5px rgba(0, 0, 0, .3);
    font-family: 'Montserrat', sans-serif;
}

@include breakpoint(small-height-screen) {
    h1 {
        font-size: 1.6em;
    }
    p {
        font-size: $fz-smallest;
    }
}

h2,
h3 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
    font-style: italic;
}

p {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
    a {
        text-decoration: underline;
        font-weight: 700;
        color: invert($color-700);
        &:hover {
            color: $light;
            background-color: invert($color-700);
        }
    }
}

.outer {
    margin: 0 auto;
    width: calc(100% - 3em);
    @include height(100%);
    @include breakpoint(medium-screen) {
        width: calc(100% - 5em);
    }
    @include breakpoint(big-screen) {
        width: calc(100% - 7em);
    }
}

.vertical-center {
    @include flex-box;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

////////////////////////////////////////////
//////////////  Navigation  ///////////////
//////////////////////////////////////////
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2em;
    background-color: $light;
    z-index: 5;
    ul {
        @include flex-box;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-self: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        @include height(100%);
        max-width: 90%;
        margin: 0 auto;
        li {
            display: inline;
            .nav-item {
                font-size: $fz-smaller;
                color: $dark;
                display: inline-block;
                padding: 0;
                margin: 0;
                text-transform: uppercase;
                &:hover {
                    color: invert($color-700);
                }
            }
        }
    }
}

@include breakpoint(small-height-screen) {
    nav {
        height: 1.5em;
        ul {
            li {
                .nav-item {
                    font-size: $fz-smallest;
                }
            }
        }
    }
}

@include breakpoint(medium-screen) {
    nav {
        height: 2.5em;
        ul {
            li {
                .nav-item {
                    font-size: $fz-smaller;
                }
            }
        }
    }
}

@include breakpoint(big-screen) {
    nav {
        height: 3em;
        ul {
            li {
                .nav-item {
                    font-size: $fz-small;
                }
            }
        }
    }
}

////////////////////////////////////////////
/////////////////  Home  //////////////////
//////////////////////////////////////////
.home {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: $color-500;
    .big-text {
        text-align: center;
        margin: 2% auto;
        font-size: $fz-med;
        letter-spacing: .3em;
        font-weight: 700;
        line-height: .9;
        text-transform: uppercase;
    }
    .med-text {
        text-align: center;
        text-transform: uppercase;
        margin: 2% auto;
        font-size: $fz-small;
        letter-spacing: .5em;
        font-weight: 100;
        line-height: 1;
    }
    #arrow {
        font-size: $fz-med;
        @include wiggle();
        &:hover {
            @include pulse();
            color: invert($color-700);
        }
    }
}

@include breakpoint(small-height-screen) {
    .home {
        .big-text {
            font-size: 1.6em;
            letter-spacing: .3em;
            font-weight: 700;
            line-height: .9;
        }
        .med-text {
            font-size: .75em;
            letter-spacing: .5em;
        }
    }
    #arrow {
        font-size: 1.2em !important;
    }
}

@include breakpoint(medium-screen) {
    .home {
        .big-text {
            font-size: $fz-big;
            letter-spacing: .3em;
            font-weight: 700;
            line-height: .9;
        }
        .med-text {
            font-size: $fz-med;
            letter-spacing: .5em;
        }
    }
}

@include breakpoint(small-med-screen) {
    .home {
        .big-text {
            font-size: $fz-med;
            letter-spacing: .3em;
            font-weight: 700;
            line-height: .9;
        }
        .med-text {
            font-size: $fz-small;
            letter-spacing: .5em;
        }
    }
}

@include breakpoint(big-screen) {
    .home {
        .big-text {
            font-size: $fz-bigish;
            letter-spacing: .5em;
            font-weight: 900;
            line-height: .8;
        }
        .med-text {
            font-size: $fz-med;
            letter-spacing: .6em;
            line-height: 1;
        }
        #arrow {
            font-size: $fz-bigish;
        }
    }
}

////////////////////////////////////////////
/////////////////  About  /////////////////
//////////////////////////////////////////
.about {
    width: 100%;
    min-height: 100vh;
    padding: 1.5em .5em 1em .5em;
    background-color: $color-700;
    .about-divider {
        margin: 1.5em 0 0 0;
        padding: .5em 0 3em 0;
        width: 95%;
        &:nth-of-type(even) {
            background-color: lighten($color-700, 3%);
        }
        p {
            margin: 1em auto;
            width: 90%;
        }
        h3 {
            margin: 1em auto;
            width: 90%;
        }
        .skills {
            @include flex-box;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 95%;
            height: 8em;
            margin: 0 auto;
            -webkit-align-items: flex-end;
            -ms-flex-align: end;
            align-items: flex-end;
            .skill {
                @include flex-box;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                margin: 0 .75%;
                position: relative;
                background-color: $color-500;
                transition: $delay;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                &:hover {
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                    background-color: invert($color-700);
                }
                h3 {
                    position: absolute;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    bottom: -25px;
                    text-align: center;
                    -webkit-align-self: flex-end;
                    -ms-flex-item-align: end;
                    align-self: flex-end;
                    font-size: $fz-tiny;
                }
            }
        }
    }
}

@include breakpoint(small-height-screen) {
    .about {
        .about-divider {
            margin: .4em 0 0 0;
            padding: .3em 0 2em 0;
            .skills {
                height: 3em;
                margin-bottom: .5%;
                .skill {
                    h3 {
                        bottom: -20px;
                        font-size: $fz-smallest;
                    }
                }
            }
        }
    }
}

@include breakpoint(medium-screen) {
    .about {
        .about-divider {
            .skills {
                height: 10em;
                margin-bottom: 2%;
                .skill {
                    h3 {
                        bottom: -35px;
                        font-size: $fz-smallest;
                    }
                }
            }
        }
    }
}

@include breakpoint(big-screen) {
    .about {
        .about-divider {
            margin: 1.6em 0 1em 0;
            padding: .5em 0 3em 0;
            .skills {
                height: 12.5em;
                margin-bottom: 2%;
                .skill {
                    h3 {
                        bottom: -40px;
                        font-size: $fz-smallest;
                    }
                }
            }
        }
    }
}

////////////////////////////////////////////
/////////////////  work  //////////////////
//////////////////////////////////////////
.work {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    background-color: $color-500;
    padding: 1.5em .5em 1em .5em;
    h1 {
        margin: 0 0 .2em 0;
    }
    .gallery {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        list-style: none;
        @include flex-box;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        .gallery-item {
            width: 100%;
            max-width: 100%;
            min-width: 250px;
            margin: .5em 1%;
            position: relative;
            img {
                width: 100%;
                border-radius: 2%;
            }
            a {
                position: absolute;
                width: 100%;
                @include height(100%);
                @include flex-box;
                border-radius: 2%;
                overflow: hidden;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-flex-flow: column wrap;
                -ms-flex-flow: column wrap;
                flex-flow: column wrap;
                h3 {
                    -webkit-align-self: center;
                    -ms-flex-item-align: center;
                    align-self: center;
                    color: $light;
                    width: 80%;
                    padding: 2%;
                    margin: 0 auto;
                    font-size: $fz-smallest;
                    background-color: transparentize($color-500, .075);
                }
                p {
                    width: 80%;
                    padding: 2%;
                    margin: 0;
                    -webkit-align-self: center;
                    -ms-flex-item-align: center;
                    align-self: center;
                    font-size: $fz-smallest;
                    background-color: transparentize($color-500, .075);
                }
            }
        }
    }
}

@include breakpoint(medium-screen) {
    .work {
        padding: 0 .5em 1em .5em;
        .gallery {
            width: 100%;
            .gallery-item {
                width: 100%;
                max-width: 32%;
                min-width: 380px;
                margin: 1em 1%;
                a {
                    h3 {
                        font-size: $fz-smaller;
                    }
                    p {
                        font-size: $fz-smaller;
                    }
                }
            }
        }
    }
}

@include breakpoint(big-screen) {
    .work {
        padding: 0 .5em 1em .5em;
        .gallery {
            width: 100%;
            .gallery-item {
                width: 30%;
                max-width: 30%;
                margin: 2em 1%;
                a {
                    h3 {
                        font-size: $fz-small;
                    }
                    p {
                        font-size: $fz-smaller;
                    }
                }
            }
        }
    }
}

////////////////////////////////////////////
////////////////  Footer  /////////////////
//////////////////////////////////////////
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    background-color: $light;
    .social {
        @include flex-box;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        @include height(100%);
        width: 75%;
        margin: 0 auto;
        color: $color-300;
        p {
            float: left;
            margin: 0;
            font-size: $fz-smallest;
            color: $dark;
            &:hover {
                color: invert($color-700);
            }
        }
        a {
            font-size: $fz-smaller;
            color: $dark;
            &:hover {
                color: invert($color-700);
            }
        }
    }
}

@include breakpoint(small-height-screen) {
    footer {
        height: 1.6em;
        .social {
            width: 75%;
            max-width: 25em;
            p {
                font-size: .7em;
            }
            a {
                font-size: .8em;
            }
        }
    }
}

@include breakpoint(medium-screen) {
    footer {
        height: 2.7em;
        .social {
            width: 75%;
            max-width: 25em;
            p {
                font-size: $fz-smaller;
            }
            a {
                font-size: $fz-small;
            }
        }
    }
}

@include breakpoint(big-screen) {
    footer {
        height: 3em;
        .social {
            width: 30%;
            max-width: 30em;
            p {
                margin: 0;
                font-size: $fz-smaller;
            }
            a {
                font-size: $fz-small;
            }
        }
    }
}

////////////////////////////////////////////
////////////  Portfolio Piece  ////////////
//////////////////////////////////////////
.portfolio_piece {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $color-700;
    .port_header {
        width: 100%;
        height: 300px;
        max-height: 300px;
        font-size: $fz-small;
        display: block;
        margin: 0 auto;
        top: 0;
        background: url('imgs/galaxy-252885_1280_green.jpg') no-repeat center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        @include flex-box;
        a {
            width: 100%;
            margin: 0 auto;
            -webkit-align-items: center;
            -webkit-align-self: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
            h1 {
                text-shadow: 10px 10px 30px rgba(0, 0, 0, 1);
                font-size: $fz-small;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
            }
        }
    }
    .port_content {
        min-height: auto;
        padding: 0 0 5em 0;
        h2 {
            margin: 10% auto 10% auto;
            font-size: $fz-small;
        }
        p {
            margin: 10% auto 10% auto;
            width: 90%;
            font-size: $fz-smaller;
        }
        .skills {
            @include flex-box;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 95%;
            height: 5em;
            margin: 0 auto;
            -webkit-align-items: flex-end;
            -ms-flex-align: end;
            align-items: flex-end;
            .skill {
                @include flex-box;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                margin: 0 .75%;
                position: relative;
                background-color: $color-500;
                transition: $delay;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                &:hover {
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                    background-color: invert($color-700);
                }
                h3 {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -25px;
                    text-align: center;
                    -webkit-align-self: flex-end;
                    -ms-flex-item-align: end;
                    align-self: flex-end;
                    font-size: $fz-tiny;
                }
            }
        }
    }
}

@include breakpoint(medium-screen) {
    .portfolio_piece {
        .port_header {
            height: 450px;
            max-height: 450px;
            font-size: $fz-med;
            a {
                h1 {
                    font-size: $fz-small;
                }
            }
        }
        .port_content {
            padding: 0 0 5em 0;
            h2 {
                margin: 5% auto 5% auto;
                font-size: $fz-med;
            }
            p {
                margin: 5% auto 5% auto;
                font-size: $fz-smaller;
            }
            .skills {
                height: 10em;
                margin-bottom: 2%;
                .skill {
                    h3 {
                        bottom: -25px;
                        font-size: $fz-smallest;
                    }
                }
            }
        }
    }
}

@include breakpoint(big-screen) {
    .portfolio_piece {
        .port_header {
            height: 600px;
            max-height: 600px;
            font-size: $fz-bigish;
            a {
                h1 {
                    font-size: $fz-small;
                }
            }
        }
        .port_content {
            padding: 0 0 5em 0;
            h2 {
                margin: 2% auto 2% auto;
                font-size: $fz-med;
            }
            p {
                margin: 2.5% auto 2% auto;
                font-size: $fz-smaller;
            }
            .skills {
                height: 10em;
                margin-bottom: 2%;
                .skill {
                    h3 {
                        bottom: -30px;
                        font-size: $fz-smallest;
                    }
                }
            }
        }
    }
}
